<p-messages></p-messages>
<div class="flex flex-col">
    <div class="flex flex-row justify-between justify-items-center items-center">
        <div class="text-4xl font-bold p-2">
            Lista de Mocks
        </div>
    </div>
    <form [formGroup]="form">
        <div class="grid grid-cols-12 gap-2 rounded-md border-solid border border-gray-300 p-3">
            <div class="col-span-6 flex flex-col gap-1.5">
                <label for="endereco" class="font-semibold">URL:</label>
                <input id="endereco" type="text" pInputText formControlName="endereco"/>
            </div>
            <div class="col-span-4 flex flex-col gap-1.5">
                <label for="httpStatus" class="font-semibold">Http Status:</label>
                <p-inputNumber inputId="httpStatus" formControlName="httpStatus"></p-inputNumber>
            </div>
            <div class="col-span-2 flex flex-col gap-1.5">
                <label for="ativo" class="font-semibold">Ativo:</label>
                <p-inputSwitch id="ativo" formControlName="ativo"></p-inputSwitch>
            </div>
            <div class="col-span-6 flex flex-col gap-1.5">
                <label for="contentType" class="font-semibold">ContentType:</label>
                <input id="contentType" type="text" pInputText formControlName="contentType"/>
            </div>
            <div class="col-span-4 flex flex-col gap-1.5">
                <label for="charset" class="font-semibold">Charset:</label>
                <input id="charset" type="text" pInputText formControlName="charset"/>
            </div>
            <div class="col-span-2 flex flex-col gap-1.5">
                <label for="gravarRequisicao" class="font-semibold">Gravar Logs:</label>
                <p-inputSwitch id="gravarRequisicao" formControlName="gravarRequisicao"></p-inputSwitch>
            </div>
            <div class="col-span-12 flex flex-col gap-1.5">
                <label for="headers" class="font-semibold">Headers de retorno:</label>
                <ngx-monaco-editor [options]="editorOptions" formControlName="headers"></ngx-monaco-editor>
            </div>
            <div class="col-span-12 flex flex-col gap-1.5">
                <label for="body" class="font-semibold">Body de retorno:</label>
                <ngx-monaco-editor [options]="editorOptions" formControlName="body"></ngx-monaco-editor>
            </div>
        </div>
        <div class="flex flex-row justify-between m-3">
            <p-button icon="pi pi-times" [raised]="true" label="Cancelar" severity="danger" (onClick)="cancelar()"></p-button>
            <p-button icon="pi pi-check" [raised]="true" label="Salvar" severity="success" 
                (click)="salvar()" [disabled]="form.invalid"></p-button>
        </div>
    </form>
</div>